@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Autoplanet</h1>
    <p class="lead">Everything about Vehicles!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bikes</h2>
        <p>
            <img src=" yamaha_niken_2019_4k-HD.jpg" width="90%" height="60%" /> 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Cars</h2>
        <p><img src="auto_front_view_rain_drops_119570_1920x1080.jpg" width="90%" height="60%"</p>
    </div>
    <div class="col-md-4">
        <h2>Trucks</h2>
        <p><img src="thumb-1920-565678.jpg" width="90%" height="60%"/> </p>
    </div>
</div>